<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Login Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body style="background: #E4E9F7;">
<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
				<div class="text-center my-3">
					<img id="stroked" class="img-fluid" src="./assets/ensakhouribga.couleur.png" alt="" width="300px" height="120px">
				</div>
				<div class="container bg-light shadow-lg rounded p-5">
						<h1 class="fs-4 card-title fw-bold mb-4 text-center ">Bienvenue</h1>
						<form method="POST" id="log" class="needs-validation d-flex justify-content-center align-items-center flex-column" novalidate="" autocomplete="off" th:action="@{/login}">

							<!-- error message -->
							<div th:if="${param.error}">
								<div class="alert alert-danger">Invalid username or
									password.</div>
							</div>

							<!-- logout message -->
							<div th:if="${param.logout}">
								<div class="alert alert-info">You have been logged out.</div>
							</div>

								<label for ="username"></label>
								<input type="text" class = "form-control mb-3" id ="username" name = "username" placeholder="Enter Email" autofocus="autofocus">
								<label for="password"></label>
								<input type="password" id="password" name="password" class="form-control mb-3" placeholder="Enter Password" />
<!--							<input type="submit" name="login-submit" id="login-submit" class="mt-5 px-2 form-control btn btn-outline-primary" value="Log In" />-->
								<button type="submit" for="log" class="btn btn-outline-primary px-4 mt-3">Log In</button>
						</form>

				</div>
				<div class="text-center mt-5 text-muted">
					Copyright &copy; 2022 ENSA KHOURIBGA
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
