
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-school'></i>
        <div class="logo_name">Manager</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul id="nav-search-list" class="nav-list">
        <li>
            <a>
                <i class='bx bx-credit-card-front'></i>
                <span class="links_name" style="font-size: 17px;">Mr.</span>
            </a>
            <span class="tooltip">Mr.</span>
        </li>
        <li class="mt-4">
            <i class='bx bx-search'></i>
            <input id="search-nav-input" onkeyup="navSearch()" type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>
        <li>
            <a th:href="@{/home}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a th:href="@{/comptes/new}">
                <i class='bx bxs-user-account'></i>
                <span class="links_name">Users</span>
            </a>
            <span class="tooltip">Users</span>
        </li>
        <li>
            <a th:href="@{/filieres}">
                <i class='bx bx-library'></i>
                <span class="links_name">Filières</span>
            </a>
            <span class="tooltip">Filières</span>
        </li>
        <li>
            <a th:href="@{/professeurs}">
                <i class='bx bx-user'></i>
                <span class="links_name">Professeurs</span>
            </a>
            <span class="tooltip">Professeurs</span>
        </li>
        <li>
            <a th:href="@{/modules}">
                <i class='bx bxs-collection' ></i>
                <span class="links_name">Modules</span>
            </a>
            <span class="tooltip">Modules</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-check-square' ></i>
                <span class="links_name">Grades</span>
            </a>
            <span class="tooltip">Grades</span>
        </li>
        <li>
            <a href="http://localhost/phpmyadmin/index.php?route=/database/structure&server=1&db=gestiondb" target="_blank">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Log Out</div>
                </div>
            </div>
            <a id="log_outa" th:href="@{/}">
                <i class='bx bx-log-out' id="log_out"></i>
            </a>
        </li>
    </ul>
</div>


<div class="prof-section">
    <div class="col d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">
        <div class="d-flex justify-content-between align-items-center justify-content-center mb-3">
            <input type="text" class="form-control" id="SearchInput" onkeyup="tableSearch()" placeholder="Search...">
        </div>
    <div class="">
    <table id="DataTable" class="shadow table table-light table-striped table-hover">
        <thead>
        <tr>
            <th>Nom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Prénom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th col-index = 4 style="white-space: nowrap;">Specialité &nbsp;
                <select class="shadow text-center rounded table-filter col-6 bg-dark" onchange="filter_rows()" style="margin-left: 50px;border: 0px;outline: 0px;color:white;">
                    <option value="all" style="color: white;" selected>Filter</option>
                </select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prof:${listProfs}">
            <td th:text="${prof.nom}"></td>
            <td th:text="${prof.prenom}"></td>
            <td th:text="${prof.code}"></td>
            <td th:text="${prof.specialite}"></td>
        </tr>
        </tbody>
    </table>

    </div> <!-- 		End of Container -->
        <label for="theme" class="theme">
            <span></span>
            <span class="theme__toggle-wrap">
                    <input type="checkbox" class="shadow theme__toggle" id="theme" role="switch" name="theme" value="dark" />
                    <span class="theme__fill"></span>
                    <span class="theme__icon">
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                        <span class="theme__icon-part"></span>
                    </span>
                </span>
            <span></span>
        </label>
        <img src="./assets/ensakhLogo.png" alt="logo" id="dial-E" class="img-fluid p-1 ensa" width="100px">
        <img src="./assets/ensakhLogo_white.png" alt="logo" id="dial-E1" class="img-fluid p-1 ensa" width="100px">
    </div>
    </div>
</div>
<script>
    $("#dial-E1").hide();

    var checkbox = document.getElementById("theme"); //get the checkbox to a variable

    if (sessionStorage.getItem("mode") == "dark") {
        darkmode(); //if dark mode was on, run this funtion
    } else {
        nodark(); //else run this funtion
    }

        //if the checkbox state is changed, run a funtion
        checkbox.addEventListener("change", function() {
        //check if the checkbox is checked or not
        if (checkbox.checked) {
        darkmode(); //if the checkbox is checked, run this funtion
    } else {
        nodark(); //else run this funtion
    }
    });

        //function for checkbox when checkbox is checked
        function darkmode() {
        document.body.classList.add("dark-theme"); //add a class to the body tag
        $("#dial-E1").show();
        $("#dial-E").hide();
        $("#clock-con").addClass("dar");
        checkbox.checked = true; //set checkbox to be checked state
        sessionStorage.setItem("mode", "dark"); //store a name & value to know that dark mode is on
    }

        //function for checkbox when checkbox is not checked
        function nodark() {
        document.body.classList.remove("dark-theme"); //remove added class from body tag
        checkbox.checked = false; //set checkbox to be unchecked state
        sessionStorage.setItem("mode", "light"); //store a name & value to know that dark mode is off or light mode is on
        $("#clock-con").removeClass("dar");
        $("#dial-E").show();
        $("#dial-E1").hide();
    }
</script>
<script src="../JS/navSearch.js"></script>
<script src="../JS/filter_rows.js"></script>
<script src="../JS/sidebar.js"></script>
<script src="../JS/tableSearch.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
</body>

</html>